body{
    background-color:#3a3a3a;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: whitesmoke;  
    
}
#container {
    max-width: 900px;
    display: flex;
   
    
    padding: 2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

     flex-wrap: wrap;
}
h1 {
    font-size: 60px;
    font-weight: 300;
    color: whitesmoke;
}

.selected {
    background-color: lightskyblue;
     font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: .5rem 1.2rem;
    display:block;
    border: none;
}
#messageDisplay {
    padding:1rem;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}
.square {
    width: 30%;
    background-color: yellowgreen;
    padding-bottom: 30%;
    margin: 1.5%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.header {
    text-align: center;
    padding: 3rem;
    
}
.header .stripe {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    background-color: whitesmoke;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: .5rem 1.2rem;
    display:block;
    background-color: transparent;
    border:none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    cursor: pointer;

}